[{port, 9000},
 {socket_type, {essl, [{cacertfile, "/Users/noh/Downloads/devel/erlang/webapi/ca.crt"},
		       {certfile, "/Users/noh/Downloads/devel/erlang/webapi/server.crt"},
		       {keyfile, "/Users/noh/Downloads/devel/erlang/webapi/server.key"}]}},
 {bind_address, {0,0,0,0}},
 {server_name, "api_server"},
 {server_root, "/opt/local/www/"},
 {document_root, "/opt/local/www/htdocs"},
 {directory_index, ["index.html"]},
 {level, info},
 {error_log, "logs/error.log"},
 {security_log, "logs/security.log"},
 {transfer_log, "logs/transfer.log"},
 {alias, {"/todo", "/opt/local/devel/vuejs/vuetify-todo/dist"}},
 {mime_types,[{"html","text/html"},
	      {"htm","text/html"},
	      {"css", "text/css"}]},
 {modules, [mod_log, mod_api]}
].
