[{authentication,
  {jwt,[handler_auth,86400,<<"Thisisthekey">>]}},
 {prefix,
  "/private/api/v0"},
 {routes,
  [{handler_auth,
    [{"/auth/login",[{post,login,"login"}]},
     {"/auth/logout",[{post,logout,"logout"}]},
     {"/auth/signup",[{post,signup,"register user"}]}]},
   {handler_main,
    [{"/",[{get,index,"main"}]},
     {"/apispec",[{get,apispec,"api specification"}]}]},
   {handler_event,
    [{"/event-management/events",
      [{get,list,"collection of users"}]},
     {"/user-management/events/{event_id}",
      [{get,info,"event data by event_id"}]}]},
   {handler_user,
    [{"/user-management/users",
      [{get,users,"collection of users"},
       {post,create,"create a new user"}]},
     {"/user-management/users/{user_id}",
      [{get,user,"user data by user_id"},
       {put,modify,"modify a user data"},
       {delete,remove,"remove a user"}]},
     {"/user-management/login",[{post,login,"login"}]},
     {"/user-management/logout",
      [{post,logout,"logout"}]}]},
   {handler_product,
    [{"/product-management/products",
      [{get,products,"collection of products"},
       {post,create,"create a new product"}]},
     {"/product-management/products/{product_id}",
      [{get,info,"product data by product_id"},
       {put,modify,"modify a product data"},
       {delete,remove,"remove a product"}]}]}]}].
