[{authentication,
  {jwt, [{algorithm, <<"HS256">>},
	 {expiration, 86400},
	 {key, <<"ThisIsTheKey">>}]}},
 {prefix,
  "/private/api/v0"},
 {routes,
  [{handler_auth, [guest],
    [{"/auth/login",
      [{post, login, "Membership login."}]},
     {"/auth/logout",
      [{post, logout, "logout"}]},
     {"/auth/signup",
      [{post, signup, "register user, 회원등록, 가입."}]}]},
   {handler_main, [guest],
    [{"/",
      [{get, index, "main"}]},
     {"/apispec",
      [{get, apispec, "api specification"}]}]},
   {handler_event, [guest],
    [{"/event-management/events",
      [{get, list, "collection of users"}]},
     {"/event-management/events/{event_id}",
      [{get, info, "event data by event_id"}]}]},
   {handler_event_for_member, [require_auth],
    [{"/member_event_management/{user_id}/events",
      [{get, events, "event list for the member by user_id"}]},
     {"/member_event_management/{user_id}/event/{event_id}",
      [{get, event, "an event for the member by user_id, event_id"}]}]},
   {handler_user, [require_auth],
    [{"/user-management/users",
      [{get, users, "collection of users"},
       {post, create, "create a new user"}]},
     {"/user-management/users/{user_id}",
      [{get, user, "user data by user_id"},
       {put, modify, "modify a user data"},
       {delete, remove, "remove a user"}]},
     {"/user-management/login", [{post, login, "login"}]},
     {"/user-management/logout",
      [{post, logout, "logout"}]}]},
   {handler_product, [require_auth],
    [{"/product-management/products",
      [{get, products, "collection of products"},
       {post, create, "create a new product"}]},
     {"/product-management/products/{product_id}",
      [{get, info, "product data by product_id"},
       {put, modify, "modify a product data"},
       {delete, remove, "remove a product"}]}]}]}].
